.Contact {
}

.BreakoutBox--Content {
  max-width: 100%;
}

/*.Contact--Centres > * {
  margin: 2rem auto;
  width: 90%;
}*/

.Contact--Section1 {
  padding-bottom: 0;
}

.Contact--Section1 .Contact--Centres {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.Contact--Section1 .BreakoutBox {
  flex: 0 0 32%;
  width: 32%;
  display: block;
  z-index: 0;
  margin-right: 1.88%;
}

.Contact--Section1 .BreakoutBox:last-of-type {
  margin: 0;
}

.Contact .BreakoutBox--Content .Button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.Contact .BreakoutBox--Content h3 {
  max-width: 100%;
}

.Contact--Section1 .BreakoutBox p {
  margin-bottom: 0;
}

.Contact--Section1 .BreakoutBox .location {
  margin: 1rem 0;
}


.Contact .BreakoutBox--Content .Button:last-of-type {
  background-color: #222f50;
  background-color: var(--secondary);
  color: white;
  border-color: transparent;
  margin-top: 2rem;
}

@media only screen and (max-width: 1350px) {
  .Contact--Section1 .Contact--Centres h3 {
    font-size: 2.4rem;
  }

  .Contact--Section1 .BreakoutBox p {
    font-size: 1.4rem;
  }

  .Contact--Section1 .BreakoutBox p strong {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1150px) {
  .Contact--Section1 .Contact--Centres {
    flex-wrap: wrap;
  }

  .Contact--Section1 .BreakoutBox {
    flex: 0 0 48%;
    margin: 0 0 5rem;
  }

  .Contact--Section1 .BreakoutBox:first-of-type {
    margin-right: 4%;
  }

  .Contact--Section1 .Contact--Centres {
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .Contact--Section1 .BreakoutBox {
    flex: 0 0 90%;
    margin-bottom: 5rem;
  }

  .Contact--Section1 .BreakoutBox:first-of-type {
    margin-right: 0;
  }
}

@media only screen and (max-width: 450px) {
  .Contact--Section1 .BreakoutBox {
    flex: 0 0 100%;
  }
}

/*@media (min-width: 750px) {
  .Contact--Centres {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 5rem;
  }

  .Contact--Centres > * {
    margin: 2rem;
    width: 100%;
  }
}*/
