.about-team {
	margin: 0 0 10rem;
	position: relative;
}

.about-team .container {
	text-align: center;
}

.about-team h3 {
	color: #f16668;
	color: var(--col1);
	margin-bottom: 4rem;
}

.TeamMember--slider {
	max-width: 90%;
	margin: 0 auto;
	position: relative;
}

.slick-slider {
	position: static;
}

.member {
	position: relative;
	height: 38rem;
	width: 38rem !important;
	border-color: #9fc9eb;
	border: .4rem solid var(--col2);
	cursor: pointer;
	transition: all ease-in-out .2s;
}

.member:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(34,47,80,0.9);
	z-index: 1;
	opacity: 0;
	transition: all ease-in-out .3s;
}

.member-info {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	opacity: 0;
	transition: all ease-in-out .3s;
	max-width: 90%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.member-info {
		margin: 0;
		left: 5%;
	}
}

.member-info h4 {
	color: #f16668;
	color: var(--col1);
}

.member-info h4:after {
	background-image: url(/images/waves-col3.svg);
	left: 0;
	right: 0;
	margin: 1rem auto 0;
}

.member-info p {
	color: white;
}

.member-info .Button {
	color: #222f50;
	color: var(--secondary);
	font-size: 1.6rem;
	border: none;
}

.member:hover {
	border: none;
}

.member:hover .member-info, .member:hover:before  {
	opacity: 1;
}


/*Prev Next Arrows*/

.slick-arrow {
	top: 50%;
	transform: translateY(-50%);
	border-color: #222f50;
	border: .3rem solid var(--secondary);
	height: 4rem;
	width: 4rem;
}

.slick-arrow.slick-prev {
	left: -6%;
}

.slick-arrow.slick-next {
	right: -6%;
}

.slick-arrow:before {
	color: #222f50;
	color: var(--secondary);
	content: '>';
	font-weight: 800;
	opacity: 1;
	height: auto;
	line-height: 0;
}

.slick-arrow.slick-prev:before {
	content: '<';
}


/*Slider Dots*/

.slick-dots {
	left: 0;
	bottom: -5rem;
	display: block;
}

.slick-dots li button {
	height: 1.5rem;
	width: 1.5rem;
	border-color: #222f50;
	border: .2rem solid var(--secondary);
}

.slick-dots .slick-active button {
	border-color: transparent;
	background-color: #222f50;
	background-color: var(--secondary);

}

.slick-dots li button:before {
	display: none;
}

.slick-dots li:before {
	display: none;
}

@media only screen and (max-width: 1500px) {
	.member {
		height: 26vw;
		width: 26vw !important;
	}
}

@media only screen and (max-width: 1100px) {
	.member-info h4 {
		font-size: 2.2rem;
	}

	.member-info p {
		font-size: 1.5rem;
	}

	.member-info .Button {
		padding: 1rem 2rem;
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 1025px) {
	.member-info {
		opacity: 1;
	}

	.member:before {
		opacity: 1;
	}
}

@media only screen and (max-width: 1000px) {
	.member {
		height: 36vw;
		width: 90% !important;
	}
}

@media only screen and (max-width: 700px) {
	.member {
		height: 56vw;
		width: 95% !important;
	}
}

@media only screen and (max-width: 375px) {
	.member {
		height: 66vw;
	}
}
















