.Table {
  background: white;
  position: relative;
  z-index: 1;
}

.Table--Headings {
  background: #222f50;
  background: var(--secondary);
  color: white;
  text-align: center;
  font-weight: 500;
}

.Table--Body {
  padding: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.Table--Body > * + * {
  border-color: #cacaca;
  border-top: 1px solid var(--midGrey);
}

.Table--Body .Table--Cell + .Table--Cell {
  border-color: #cacaca;
  border-left: 1px solid var(--midGrey);
}

.Table--Row {
  display: flex;
  align-items: center;
}

.HealthInfoPage .Table--Row {
  align-items: stretch;
}

.Table--Row > * {
  width: 100%;
}

.Table--Cell {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Table--Cell .Content {
  max-width: 90%;
}

.Table--Input {
  margin-left: 2rem;
  cursor: pointer;
}

.FamilyChecklist .Table {
  z-index: 0;
}

@media only screen and (max-width: 700px) {
  .FamilyChecklist .pretty {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  .FamilyChecklist .Table--Cell {
    padding: 1rem;
  }

  .HealthInfoPage .Table--Cell {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .HealthInfoPage .Table--Cell p {
    font-size: 1.2rem;
  }

  .HealthInfoPage .Table--Headings--Item {
    padding: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .FamilyChecklist .Table--Cell p {
    font-size: 1.2rem;
  }
}




